*{
  margin:0;
  padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#060818;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.text-orange{
  color:#E7515A;
}
.text-green{
  color: #25D5E4;
}
.text-gray{
    color: #888ea8;
  }

.font-16{
    font-size: 0.99rem;
}
.font-14{
    font-size: 0.88rem;
}
.font-20{
    font-size: 1.25rem;
}
.font-25{
    font-size: 1.5rem;
}
.font-500{
    font-weight: 500;
}
.header{
    width:100%;
    margin: 11px auto;
}
.search-box{
    max-width: 350px;
    width:100%;
    position: relative;
    top:28%;
    
}
.btn-blue{
    font-size: 13px;
    padding-left: 25px;
    padding-right:25px;
}
.search-box input{
    width:100%;
    color: #f2f2f2;
    border:solid #83858f 1px;
    height:40px;
    border-radius: 5px;
    background:transparent;
    padding: 0 0 0 15px;
    font-size: 13px;
    font-weight: 300;
}
.btn-search{
    width:31px;
    height:31px;
    border:0;
    border-radius:5px;
    background:#191E3A;
    position: absolute;
    top: 4.1px;
    right: 4px;

}
.dropdown span{
    font-size: 0.99rem;
}
/*   Navigation   */
.navbar{
  width: calc(100% - 30px);
  margin:auto;
  background:#191E3A;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-link{
  color: #FAFAFA;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  
 
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 15px;
}
.navigation .nav-item{   
    position: relative;
   
  }
.navigation li.nav-item::after{
    position: absolute;
    content: "";
    width: 0.35px;
    height: 25px;
    right: 0px;
    top: 6px;
    color: rgb(255, 255, 255);
    background: rgba(241, 241, 241,0.5);    
}

.navigation li:last-child .nav-item::after{    
    content: none;        
}
.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #191e3a;
}


.nav-link img{
    margin-right: 5px;
}
.nav-link:focus, .nav-link:hover , .nav-link:hover svg{
  color: #25d5e4;
  fill: #25d5e4;
}
.icon:hover{
    fill: #25d5e4;
}
.nav-link:hover svg path , .nav-link:hover svg rect{
    fill: #00A0CB;
}
/* .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #515365;
  } */

/* menu icon */
.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  
  .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  }
  
  .sec-accent {
    background-color: #fafcf5;
  }
  
  .blue {
    background-color: #9999cc;
  }
  
/* Menu icon */

.navbar-expand-lg .navbar-nav .dropdown-menu {    
    background-color: #060818;
    color: #bfc9d4;
    border: 1px solid rgb(13, 16, 41);
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
    -webkit-box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #888ea8;
}



  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.25rem 0;
    margin: 0.125rem 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-item{
    color: #888ea8;
    font-weight: 300;
}
.dropdown-item.active, .dropdown-item:active{
    background:transparent;
    color:#bfc9d4;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

ul.notification-box{
    width:100%;
    list-style: none;
    padding-top: 26px;
    text-align: right;
    padding-right: 20px;
}
ul.notification-box li{
    display:inline-block;
    list-style: none;       
}
.uesr-pannel .btn{
    color:#fff;
    outline:none;
} 
.uesr-pannel .btn.focus, .uesr-pannel .btn:focus {
    outline: 0;
    box-shadow: none;
}
.uesr-pannel .dropdown-toggle::after {   
    vertical-align: 0.155em;   
}
.uesr-pannel  .dropdown-menu {
    border: 1px solid #191e3a;
    background: #0e1726;
    max-width: 13rem;
}

.uesr-pannel .dropdown .dropdown-menu {
    top: 108%;
    border-radius: 0;
    border: none;
    border-radius: 6px;
   -webkit-box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%); 
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%); 
    background: #0e1726;
    margin-top: 0;
    border: 1px solid #191e3a;
    z-index: 9999;
    max-width: 13rem;    
    top: 57px;
    left: -30px;
    -webkit-box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}

.uesr-pannel .dropdown .dropdown-menu:after {
    position: absolute;
    content: '';
    top: -10px;
    margin-left: -7px;
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid #fff;
    left: auto;
    right: 8px;
    border-bottom-color: #0e1726;
}

.uesr-pannel .dropdown-menu .dropdown-item a {
    display: block;
    color: #ebedf2;
    font-size: 13px;
    font-weight: 600;
    padding: 9px 14px;
}
.uesr-pannel  .dropdown-menu:hover ,.uesr-pannel  .dropdown-menu:focus{
    
    border-radius: 5px;
    color:#ebedf2;
}
.uesr-pannel .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #191e3a;
}
.uesr-pannel{}

.notification .dropdown-toggle::after {   
    display:none;   
}
/*   Navigation   */
.widget-box {
  position: relative;
  padding: 0;
  border-radius: 6px;
  background: #0e1726;
  border: none;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  margin-bottom: 20px;
}
.widget-box .widget-heading {
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed #3b3f5c;
  padding: 21px 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 26px;
}
.widget-content.padd-20{
    padding: 20px 33px 20px 33px;
}
.padd-30{
    padding: 20px 20px 20px 20px;
}


.widget-content-area {
  padding: 20px;
  position: relative;
  background-color: #0e1726;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table-position{
    padding:10px 18px;
}
.nav-link svg{
   margin-right: 10px; 
}

/*  Table   */
.table-text{
    font-size: 1.25rem;
}
.table-width-100{
    width:100px;
}
.table-width-160{
    width:160px;
}
.table-width-140{
    width:140px;
}
.table-width-180{
    width:180px;
}

.table-bordered { border: 1px solid #f1f2f3; }
.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(25, 30, 58, 0.6313725490196078) !important; }
.table > tbody > tr > td { 
    vertical-align: middle;
    color: #515365;
    font-size: 13px;
    letter-spacing: 1px; }
.table > thead > tr > th {
    color: #1b55e2;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase; }

.table > tbody > tr > td .usr-img-frame {
    background-color: #bfc9d4;
    padding: 2px;
    width: 35px;
    height: 35px;
}
.table > tbody > tr > td .usr-img-frame img { width: 35px; margin: 0; }
.table > tbody > tr > td .admin-name {
    font-weight: 700;
    color: #515365;
}
.table > tbody > tr > td .progress { width: 135px; height: 6px; margin: auto 0; }
.table > tbody > tr > td svg.icon { width: 21px; }
.table > tbody > tr > td .t-dot {
    background-color: #000;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
}
.table > tbody > tr > td svg.t-icon {
    padding: 5px;
    border-radius: 50%;
    font-size: 11px;
    vertical-align: sub;
    cursor: pointer;
}
.table > tbody > tr > td svg.t-icon.t-hover-icon:hover { background-color: #e7515a; color: #fff; }
.table-bordered td { border: 1px solid #ebedf2; }
.table-bordered th { border: 1px solid #ebedf2; }
.table thead th { vertical-align: bottom; border-bottom: none; }
.table-hover:not(.table-light) tbody tr:hover { background-color: rgba(25, 30, 58, 0.6313725490196078); }
.table-controls>li>a svg { color: #25d5e4; }
.table tr td .custom-dropdown.t-custom-dropdown a.dropdown-toggle,
.table tr td .custom-dropdown-icon.t-custom-dropdown a.dropdown-toggle {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
.table-controls>li>a svg { color: #888ea8; width: 21px; }


/*  Table   */

.table > thead > tr > th { color: #d3d3d3; }
.table > tbody > tr > td { color: #bfc9d4; }
.table { background-color: #060818; }
.table.table-hover tbody tr { background-color: #060818; }
.table td, .table th, .table thead th { border-color: #191e3a!important; }
.table.table-hover tbody tr:hover { background-color: rgba(25, 30, 58, 0.6313725490196078); }
.table.table > tbody > tr > td i.t-icon {
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    vertical-align: sub;
    cursor: pointer;
    color: #0e1726!important;
}

/*  Table Light  */

.table.table-light > thead > tr > th { color: #d3d3d3; }
.table.table-light > tbody > tr > td { color: #ffffff; }
.table-light { background-color: #3b3f5c!important; }
.table-light.table-hover tbody tr { background-color: #3b3f5c; }
.table-light td, .table-light th, .table-light thead th { border-bottom: 1px solid rgba(136, 142, 168, 0.3137254901960784)!important; }
.table-light.table-hover tbody tr:hover { background-color: rgba(25, 30, 58, 0.6313725490196078); }
.table.table-light > tbody > tr > td i.t-icon {
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    vertical-align: sub;
    cursor: pointer;
    color: #0e1726!important;
}
table .badge-success,table .badge-primary, table .badge-warning,table .badge-danger,
table .badge-info, table .badge-secondary, table .badge-dark  {
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.table > tfoot > tr > th { color: #e0e6ed; }
.table-vertical-align tr, .table-vertical-align th, .table-vertical-align td { vertical-align: middle!important }
.statbox .widget-content:before,
.statbox .widget-content:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both
}
.nav-tabs>li>a { -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important }
.btn-toolbar { margin-left: 0px; }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .input-group>.form-control { flex: 1 1 auto; width: 1%; } }

.spin { -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }
@keyframes spin{
    0%{ -webkit-transform:rotate(0deg); transform:rotate(0deg) }
    100%{ -webkit-transform:rotate(359deg); transform:rotate(359deg) }
}
@-webkit-keyframes spin{
    0%{ -webkit-transform:rotate(0deg); transform:rotate(0deg) }
    100%{ -webkit-transform:rotate(359deg); transform:rotate(359deg) }
}
.toast-primary {
    background: #1b55e2;
}
.toast-header {
    background: #1b55e2;
    color: #fff;
    border-bottom: 1px solid rgba(33, 150, 243, 0.3411764705882353);
}
.toast-header .meta-time {
    color: #f1f2f3;
}
.toast-header .close {
    color: #f1f2f3;
    opacity: 1;
    text-shadow: none;
}
.toast-body {
    padding: 16px 12px;
    color: #fff;
}
.color-box{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin: 0px auto;
}
.bg-skyblue{
    background:#00A0CB;
}
.bg-purpal{
    background:#BF0C91;
}
.bg-orange{
    background:#FE6D02;
}
.color-box .price-box{
    width:30%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    border-radius: 5px;
    min-height: 100px;
}
.income-price{
    font-size:30px;
    color:#ffffff;
    font-weight: 500;
}
.income-type{
    font-size:0.99rem ;
    color:#ffffff;
}
.referal-box{
    width:100%;
    display:flex;
    align-items: center;
    min-height: 155px;
}
.h-196{
    min-height: 196px;
}

.referal-box .left { 
    width:125px;          
    float:left;
}
    
.referal-box .right {
    width:calc(100% - 125px);         
    float:right;   
}
.busnusbox{
    width:100%;
    min-height: 210px;
    display: flex;
    align-items: center;
}
.busnusbox span{
    display:flex;
    justify-content:center;
    color:#fff;
    font-size: 1.5rem;
    font-weight: 500;;
}
.text-copy{
    width: 92%;
    float:right;
    font-size: 14px;
    color:#D3D3D3;
    background:#060818;
    border-radius: 5px;
    border-color: rgba(112,112,112,0.34);
    word-wrap: break-word;
    padding:5px 10px;
    flex-direction: row;
}
p.smallpara{
    font-size: 12px;
    font-weight:300;
    color:#707070;
    margin-bottom: 15px;
    margin-top: -13px;
}
/* .rightimg img{
    align-self:flex-end;
}
.rightimg span{
    align-self:flex-start;
} */

/*  footer  */
.footer{
    width:100%;
    background:rgba(0,0,0,0.41);
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    margin-bottom: 0;
    color:#fff;
    font-size: 0.8rem;
    font-weight: 300;
}
/*  footer   */


@media (max-width: 575.98px) {
    .table-position {
        padding:0 ;
    }
    .widget-content.padd-20 {
        padding: 20px 10px 20px 10px;
    }
    .color-box {       
        flex-direction: column;
    }
    .color-box .price-box {
        width: 100%;       
        min-height: 75px;
        margin-bottom: 15px;
    }
    .navbar-brand img{
        width:100px;
    }
    .logo-md{
        display:none;
    }
    .busnusbox{
        min-height: 130px;
    }
    .table-text {
        font-size: 0.9rem;
    }
    .font-16 {
        font-size: 0.8rem;
    }
    .table-width-180{
        width:80px;
    }
    .table-width-140{
        width:80px;
    }
    .table-width-160{
        width:120px;
    }
    .table-width-100{
        width:80px;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .table-position {
        padding:0 ;
    }
    .widget-content.padd-20 {
        padding: 20px 10px 20px 10px;
    }
    .color-box {       
        flex-direction: column;
    }
    .color-box .price-box {
        width: 100%;       
        min-height: 75px;
        margin-bottom: 15px;
    }
    .navbar-brand img{
        width:100px;
    }
    .logo-md{
        display:none;
    }
    .busnusbox{
        min-height: 130px;
    }
    .table-text {
        font-size: 0.9rem;
    }
    .font-16 {
        font-size: 0.8rem;
    }
    .table-width-180{
        width:80px;
    }
    .table-width-140{
        width:80px;
    }
    .table-width-160{
        width:120px;
    }
    .table-width-100{
        width:80px;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-brand{
        display:none;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-brand{
        display:none;
    }
 }


@media (min-width: 1200px) { 
    .navbar-brand{
        display:none;
    }
 }

